<div style="text-align: center">
  <span>{{ title }} app is running!</span>
  <!-- <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/product-list" href="#">商品列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/order-list" href="#">订单列表</a>
    </li>
  </ul> -->
  <nav class="nav">
    <a class="nav-link" routerLink="/product-list" href="#">商品列表</a>
    <a class="nav-link" routerLink="/order-list" href="#">订单列表</a>
  </nav>
</div>
<router-outlet></router-outlet>